<h1>My Dictionary</h1>

<!-- <h3>My Words:</h3>

#if ($words)
<ul>
  #foreach($word in $words)
  <li>$word.getWord()</li>
  #end
  </ul>
#else
<p>No words yet!</p>
#end -->

<a href="/words/new">Add a new word</a>
