<h1>Add a Word</h1>
<h4>Add a new word here:</h4>
<form action="/words" method="post">
  <label for="word">Word:</label>
  <input id="word" name="word" type="text" placeholder="type word in here" required>

  <button type="submit" class="btn btn-success">Add word</button>
</form>
